
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Arial', sans-serif;
    padding-bottom:72px;
   
}

.basic-set {
    padding-top:0px;
    padding-bottom:10px;
    font-size:18px;
}
.head-line {
    font-size:30px;
    color:#4d5d53; /*TODO:#fff; */
    padding-bottom:10px;
    text-transform:uppercase;
    font-weight:800;
}
    .head-line span {
        color:#000;
    }
.black-btn {
    background-color: #000000;
    border-color: #FF0000;
}
    .black-btn:hover {
        background-color: #000000;
        border-color: #FF0000;
    }
    
/* =============================================================
   FIGURE STYLES
 =========================================================== */

/*Figure with sub-captions*/
figure {
  text-align: center;
  margin: 5px;

}
figure img {
  vertical-align: top;
}

/*Figure with centered text overlay*/
/* Container holding the image and the text */
.imgandtextbanner {
  position: relative;
  text-align: center;
  color: white;
  opacity: 0.9;
}
/* Centered text block */
.centeredtextblock {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  background-color: black;
  opacity: 0.85;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height:80%;
}

.image-wrapper {
  box-sizing:border-box;
  float: left;
  margin-bottom:5px;
  width: 50%;
}

.image-wrapper:nth-child(even)
{
  text-align: left;
  padding-left:5px;
}

.image-wrapper:nth-child(odd)
{
  text-align: right;
  padding-right:5px;
}

.image-wrapper > img {
  width: 35%;
}

.image-wrapper > span {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 50%;
}


/* =============================================================
   NAVBAR STYLES
 =========================================================== */

.navbar {
border-radius: 0px;
margin-bottom: 0px;
border: 0px solid transparent;
}

.navbar-inverse {
    background-color: #0E0E0E;
border-top: 1px solid #000;
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color:#f00;
    }
    .navbar-inverse .navbar-nav > li > a {
        color:#fff;
        font-size:16px;
        padding:30px 20px;
    }
.navbar-toggle {
    margin-bottom: 30px;
}
#nav-wrapper {
left: 0;
width: 100%;
z-index: 999;
bottom:0px;
position: fixed;
background-color: #ffffff;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
/* =============================================================
   HOME/VEDIO SECTION STYLES
 ============================================================ */
#home-sec {
    height:740px;
    color:#4d5d53; /*TODO:#fff; */
    text-align:center;
    border-bottom:0px solid #000;
}
    #home-sec .overlay {
        background-color:rgba(255, 255, 255, 0);
        min-height:740px;
		align-items: center;
		justify-content: center;
    }
    #home-sec h1 {
        /*padding-top:200px; */
        font-size:80px;
        font-weight:900;
        padding-bottom:30px;
    }
	#home-sec h4 {
        padding-top:20px;
        font-size:30px;
        font-weight:900;
        padding-bottom:0px;
    }
        #home-sec h1 i {
            color:#f00;
        }
            
/* =============================================================
   SERVICES SECTION STYLES
 ============================================================ */
.txt-block {
    padding-bottom:30px;
}


/* =============================================================
   JUST TEXT SECTION STYLES
 ============================================================ */
#Just-text {
      background-color:#000;
}
.mid-txt {
    padding-top:40px;
    padding-bottom:40px;
    font-size:30px;
    font-weight:900;
    color:#fff;
}

/*==========================================
   GALLERY/ PORTFOLIO STYLES
    =====================================================*/

#port-folio {
    padding-top: 10px; 
    min-height:550px;
}
.portfolio-item {
    border:0px solid #f00;
    margin:3px;
}
    .portfolio-item p {
        padding:12px;
        color:#fff;
        line-height:25px;
    }

.portfolio-item .overlay {
   
  background-color: #000;
  text-align: center;
  padding-bottom:30px;
  
}

/*==========================================
   GALLERY/ PORTFOLIO FILTER STYLES
    =====================================================*/
ul#filters {
	padding: 0px;
}
#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
	#filters li {
		display: -webkit-inline-box;
	}
	#filters li span {
		display: block;
		padding: 5px 4px;
		text-decoration: none;
		color: #d51111;
		cursor: pointer;
		font-size: 18px;
	}
 	#port-folio .portfolio-item {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width: 100%;		
		float:left;
		overflow:hidden;
        display:none;
	}
/* =============================================================
   PRICE SECTION STYLES
 ============================================================ */

#price-sec {
    background-color:#e1e1e1;
}

.price-div {
    background-color:#fff;
    padding:20px;
    margin:5px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.price-cls {
    font-size:60px;
    font-weight:900;
    color:#f00;
    padding-right:20px;
}

#price-sec .media-heading {
    padding-top:20px;
}
/* =============================================================
   CONTACT SECTION STYLES
 ============================================================ */
#contact-sec {
    background-image: url("../img/contact.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    -webkit-background-size: cover;
    color:#fff;
}
    #contact-sec .overlay {
        background-color:rgba(255, 255, 255, 1);
        min-height: 700px;

    }
    #contact-sec .social {
        padding-top:30px;
    }
#contact-sec .social a {
    font-size:25px; 
    padding:10px 30px;
    text-decoration:none;
    color:#fff;
    display:block;
    max-width:200px;
    margin-bottom:20px;
}
#contact-sec .subscribe {
    padding-top:30px;
    background-color:#000;
    color:#fff;
    height:100%;
}

    #contact-sec h2 {
        font-weight:900;
        color:#f00;
    }

    /*******************************************
    Ehemals inline:

     */
#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#myVideo2 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
#rcorners2 {
    border-radius: 25px;
    border: 2px solid #D5D8DC ;
    padding: 20px;
    max-width: 900px;
    min-height: 200px;
}

.tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;margin:auto}
.tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
    font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
    font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-zda1{border-color:inherit;font-family:Arial, Helvetica, sans-serif !important;;text-align:center;vertical-align:top}
.tg .tg-804w{font-family:Arial, Helvetica, sans-serif !important;;text-align:center;vertical-align:top}
.lfs96-p{
    max-width:1000px; margin:auto; text-align:justify;
}
